---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: migdeviceclaimparameters.gpu.resource.nvidia.com
spec:
  group: gpu.resource.nvidia.com
  names:
    kind: MigDeviceClaimParameters
    listKind: MigDeviceClaimParametersList
    plural: migdeviceclaimparameters
    singular: migdeviceclaimparameters
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MigDeviceClaimParameters holds the set of parameters provided
          when creating a resource claim for a MIG device.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MigDeviceClaimParametersSpec is the spec for the MigDeviceClaimParameters
              CRD.
            properties:
              gpuClaimName:
                type: string
              profile:
                type: string
              sharing:
                description: MigDeviceSharing holds the current sharing strategy for
                  MIG Devices and its settings.
                maxProperties: 2
                properties:
                  mpsConfig:
                    description: MpsConfig provides the configuring for an MPS control
                      daemon.
                    properties:
                      defaultActiveThreadPercentage:
                        type: integer
                      defaultPerDevicePinnedMemoryLimit:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: DefaultPerDevicePinnedMemoryLimit represents
                          the pinned memory limit per device associated with an MPS
                          daemon. This is defined as a map of device index or UUI
                          to a memory limit and overrides a setting applied using
                          DefaultPinnedDeviceMemoryLimit.
                        type: object
                    type: object
                  strategy:
                    default: TimeSlicing
                    description: GpuSharingStrategy encodes the valid Sharing strategies
                      as a string.
                    enum:
                    - TimeSlicing
                    - MPS
                    type: string
                required:
                - strategy
                type: object
            type: object
        type: object
    served: true
    storage: true
