---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "k8s-dra-driver.fullname" . }}-role
  namespace: {{ include "k8s-dra-driver.namespace" . }}
rules:
- apiGroups:
  - ""
  - apps
  - resource.k8s.io
  - gpu.nvidia.com
  resources: ["*"]
  verbs: ["*"]
