---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "k8s-dra-driver.fullname" . }}-kubelet-plugin
  namespace: {{ include "k8s-dra-driver.namespace" . }}
  labels:
    {{- include "k8s-dra-driver.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "k8s-dra-driver.selectorLabels" . | nindent 6 }}
  {{- with .Values.kubeletPlugin.updateStrategy }}
  updateStrategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      {{- with .Values.kubeletPlugin.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "k8s-dra-driver.templateLabels" . | nindent 8 }}
    spec:
      {{- if .Values.kubeletPlugin.priorityClassName }}
      priorityClassName: {{ .Values.kubeletPlugin.priorityClassName }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8s-dra-driver.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.kubeletPlugin.podSecurityContext | nindent 8 }}
      initContainers:
      - name: init
        securityContext:
          {{- toYaml .Values.kubeletPlugin.containers.init.securityContext | nindent 10 }}
        image: {{ include "k8s-dra-driver.fullimage" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["bash", "-c"]
        args:
        - >-
          set -x;
          kubectl get -n ${POD_NAMESPACE} nas ${NODE_NAME};
          if [ "${?}" = "0" ]; then
            kubectl patch -n ${POD_NAMESPACE} nas ${NODE_NAME} --type merge -p '{"status": "NotReady"}';
            exit "${?}";
          fi;
          kubectl get --ignore-not-found=true -n ${POD_NAMESPACE} nas ${NODE_NAME};
          exit "${?}";
        resources:
          {{- toYaml .Values.kubeletPlugin.containers.init.resources | nindent 10 }}
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      containers:
      - name: plugin
        securityContext:
          {{- toYaml .Values.kubeletPlugin.containers.plugin.securityContext | nindent 10 }}
        image: {{ include "k8s-dra-driver.fullimage" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - nvidia-dra-plugin
        resources:
          {{- toYaml .Values.kubeletPlugin.containers.plugin.resources | nindent 10 }}
        env:
        - name: NVIDIA_VISIBLE_DEVICES
          value: void
        - name: CDI_ROOT
          value: /var/run/cdi
        - name: NVIDIA_MIG_CONFIG_DEVICES
          value: all
        - name: LD_LIBRARY_PATH
          value: /usr/lib64/:/run/nvidia/driver/usr/lib/x86_64-linux-gnu
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: plugins-registry
          mountPath: /var/lib/kubelet/plugins_registry
        - name: plugins
          mountPath: /var/lib/kubelet/plugins
        - name: cdi
          mountPath: /var/run/cdi
        - name: driver-root
          mountPath: /run/nvidia/driver
          readOnly: true
        lifecycle:
          preStop:
            exec: 
              command:
              - bash
              - -c
              - >-
                set -x;
                kubectl get -n ${POD_NAMESPACE} nas ${NODE_NAME};
                if [ "${?}" = "0" ]; then
                  kubectl patch -n ${POD_NAMESPACE} nas ${NODE_NAME} --type merge -p '{"status": "NotReady"}';
                  exit "${?}";
                fi;
                kubectl get --ignore-not-found=true -n ${POD_NAMESPACE} nas ${NODE_NAME};
                exit "${?}";
      volumes:
      - name: plugins-registry
        hostPath:
          path: /var/lib/kubelet/plugins_registry
      - name: plugins
        hostPath:
          path: /var/lib/kubelet/plugins
      - name: cdi
        hostPath:
          path: /var/run/cdi
      - name: driver-root
        hostPath:
          path: /run/nvidia/driver
      {{- with .Values.kubeletPlugin.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kubeletPlugin.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kubeletPlugin.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
